

.banner{
    position: relative;
    text-align: center;
    color: white;
}
.logo-banner{
    width: 70px;
}
.imagem-carrosel{
    background-image: linear-gradient(to bottom ,#FFFF , #F5F5F5 );
    margin-top: 50px;
    object-position: 50% 10px;
    object-fit: contain;
    ;
    
}
.imagem-principal{
    width: 100%;
    object-fit: cover;
    object-position: center;
     /* -webkit-filter: blur(1px);  Safari 6.0 - 9.0  */
    /* filter: blur(1px); */
    max-height: 900px;

}

h2.font2{
    font-family: var(--fonte-destaque2);
    color: var(--colorFont);
    text-align: right
}
.nome {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px 20px;
    font-size: 1em;
    margin: 0px;
   
    border-radius: 20px;
  }
  /* .agendar {
    position: absolute;
    top: 50%;
    right: 5%;  
    width: 300px;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    color: var(--colorFont);
    padding: 20px;

    text-align: center;

    border-radius: 20px;
}
  .agendar>h3{
    padding: 10px;
    font-size: 2em;
  }
  .agendar>p{
      font-size: 1.6em;
      font-weight: 600;
      margin: 0.2em 0;
  }
  .agendar>a{
      text-decoration: none;
      
      border-radius: 10px;
      font-size: 1.4em;
      padding: 5px;
      color: var(--colorFont);
  }
  .agendar>a:hover{
    text-decoration: underline;
  } */
