@font-face {
    font-family: 'Sunflower';
    src: url(../src/fonts/Sunflower.otf) format('opentype');
    font-weight: normal;
}
@font-face {
    font-family: 'Autography';
    src: url(../src/fonts/Autography.otf) format('opentype');
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=The+Nautigal&display=swap');

:root{
    /* cores  SENSAÇÃO CROMÁTICA   */
    --cor0:#01aad1;
    --cor1:#0673a1;
    --cor2:#024d79;
    --cor3:#626262;

    /* cores Cores secundárias */
    --cor4:#e8b9a9 ;
    --cor5:#eb9e82;
    --cor6:#d48b7a;
    --cor7:#1b869a;
    --cor8:#046077;
    --cor9:#003a46;

    /* fontes */
    --fonte-padrao: 'Oswald', sans-serif;
    --fonte-destaque:'Sunflower','Playfair Display', cursive;
    --fonte-destaque2: 'Autography', 'The Nautigal', cursive;

}

/* fontes */
*{
    
     font-family: var(--fonte-padrao);
     
}
body{
    margin: 0;
    background-color: #F5F5F5;
}
h1.fonte-titulo{
    font-family: var(--fonte-destaque);
}
.fonte-sub{
    font-family:var(--fonte-destaque2) ;
}
h2,h3 {
    font-family: var(--fonte-padrao);
    font-weight: bold;
}
.cor-especial{
    color:var(--cor2);
}

/*   */

/* cores da pagina */
.cor-titulo,.cor-tratamento,.cor-depoimento {
    background-color: #F5F5F5;
}
.cor-equipe{
    background-color:#F5F5F5;
}
.final{
    background-image: linear-gradient(to bottom, #f5f5f5,#024d79);
}

/* */

/* nav */
.texto-cor-especial {
    color: var(--cor2) !important;
}

@media only screen and  (max-width:650px) { 
    img.logo{
        width: 80px;
        height: 55px;
    }
    .imagem-carrosel-sala1{
        object-fit: cover;
        object-position: 0 50px;
        min-height: 300px;  
        
    }
    .imagem-carrosel{
        object-fit: cover;
        min-height: 300px;  
        
    }
    .img-faxada{
        width: 320px;
    }
    .mapa{
        width: 340px;
        height: 300px;
    }
    .local-link{
        margin-top: 10px;
        padding: 5px;
    }
}
    
.logo{
    width: 130px;
   
    border-radius: 20px;
    margin: 0;
    
}

.icons-link{
    width: 24px;
    height: 24px;
}
/*  */

/* corrosel */
.imagem-carrosel{
    background-image: linear-gradient(to bottom ,#FFFF , #F5F5F5 );
    margin-top: 50px;
    object-position: 50% 10px;
    object-fit: contain;
    max-height: 600px;
    
}
/*  */

/* cards */
.card-largura{
    max-width: 18rem;
}

.card-posicao-imagem{
    object-fit: cover;
    height: 200px;
}
.cor-cards{
    background-color:#FFFFFF;
    
    color: var(--cor9);
}

.botao-cor-especial{
    background-color: var(--cor0);
    color: white;
}

/*Equipe  */


.img-equipe{
    max-width: 700px;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
/* mapa */
.maps{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.mapa{
    max-width: 650px;
    max-height: 450px;
}

.hora-tamanho{
    max-width: 400px;
}
img.img-faxada{
    max-width: 500px;
    margin-top: 50px;
    border-radius: 10px;
}

/* redes sociais*/
.icon{

    padding-right: 8px;
}
/*  */

.cor-footer{
    background-color: #024d79;
}

h2 {
    padding: 1em;
    margin-top: 1em;
    text-align: center;
    color: white;
    border-radius: .2em;
    display: inline-block;
    transform: translateX(calc((100vw - 100%) / 2))
  }
  h3.depoimentos {
    padding: 1em;
    margin-top: 1em;
    font-family: var(--fonte-padrao);
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: var(--cor1);
    border-radius: .2em;
    display: inline-block;
    transform: translateX(calc((100vw - 100%) / 2))
  }
