@font-face {
    font-family: 'Sunflower';
    src: url(../fonts/Sunflower.otf) format('opentype');
    font-weight: normal;
}
@font-face {
    font-family: 'Autography';
    src: url(../fonts/Autography.otf) format('opentype');
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=The+Nautigal&display=swap');

:root{
    /* cores  SENSAÇÃO CROMÁTICA   */
    --colorFont:#1C1C1C;
    --cor0:#01aad1;
    --cor1:#0673a1;
    --cor2:#024d79;
    --cor3:#626262;

    /* cores Cores secundárias */
    --cor4:#e8b9a9 ;
    --cor5:#eb9e82;
    --cor6:#d48b7a;
    --cor7:#1b869a;
    --cor8:#046077;
    --cor9:#003a46;

    /* fontes */
    --fonte-padrao: 'Oswald', sans-serif;
    --fonte-destaque:'Sunflower','Playfair Display', cursive;
    --fonte-destaque2: 'Autography', 'The Nautigal', cursive;

}
*{
    font-family: var(--fonte-padrao)
}
.nav-blue{
    color: var(--cor0);
}

.banner{
    position: relative;
    text-align: center;
    color: white;
}
.imagem-principal{
    width: 100%;
    object-fit: fill;
    -webkit-filter: blur(1px); /* Safari 6.0 - 9.0 */
    filter: blur(1px);
    height: 550px;
}
h1.font1{
    font-family: var(--fonte-destaque);
    color: var(--colorFont);
    
}
h2.font2{
    font-family: var(--fonte-destaque2);
    color: var(--colorFont);
}
.nome {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px 20px;
    font-size: 6em;
    margin: 0px;
   
    border-radius: 20px;
  }
  .agendar {
    position: absolute;
    top: 50%;
    right: 5%;  
    width: 300px;
    transform: translate(-50%, -50%);
    background-color: hsla(15, 59%, 79%, 0.80);
    color: var(--colorFont);
    padding: 20px;

    text-align: center;

    border-radius: 20px;
}
  .agendar>h3{
    padding: 10px;
    font-size: 2em;
  }
  .agendar>p{
      font-size: 1.6em;
      font-weight: 600;
      margin: 0.2em 0;
  }
  .agendar>a{
      text-decoration: none;
      
      border-radius: 10px;
      font-size: 1.4em;
      padding: 5px;
      color: var(--colorFont);
  }
  .agendar>a:hover{
    text-decoration: underline;
  }


h2.trata{
    color: var(--cor0);
    font-size: 3em;
}
.clinica{
    margin-top: 5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.carrosel{ 
    width: 535px;
    height: 350px;
    margin-left: 50px;
    
    border-radius: 10px;
    
}
.img-consutorio{
    border-radius: 10px;
}
.sobre-cotidente{
    width: 500px;
    text-align: center;
    text-justify: center;
    background-color: #f2f2f2;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

@media only screen and  (max-width:900px) { 
    img.logo{
        width: 80px;
        height: 55px;
    }
    .nome{
        display: none;
    }
    .imagem-principal{
        height: 500px;
        object-fit: contain;
    }
    .agendar{
       margin-right: auto;
       margin-left: auto;
       align-items: center;
       width: 200px;
    }
    .img-consutorio{
        height: 200px;
        
    }
    .clinica{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    .carrosel{
        margin-left: 0px;
        margin: 10px;
    }
    .img-faxada{
        width: 320px;
    }
    .mapa{
        width: 340px;
        height: 300px;
    }
    .local-link{
        margin-top: 10px;
        padding: 5px;
    }
}
