@font-face {
    font-family: 'Sunflower';
    src: url(../fonts/Sunflower.otf) format('opentype');
    font-weight: normal;
}
@font-face {
    font-family: 'Autography';
    src: url(../fonts/Autography.otf) format('opentype');
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=The+Nautigal&display=swap');

:root{
    /* cores  SENSAÇÃO CROMÁTICA   */
    --colorFont:#1C1C1C;
    --corCard:#ABE3FF;
    --cor0:#01aad1;
    --cor1:#0673a1;
    --cor2:#024d79;
    --cor3:#626262;

    /* cores Cores secundárias */
    --cor4:#e8b9a9 ;
    --cor5:#eb9e82;
    --cor6:#d48b7a;
    --cor7:#1b869a;
    --cor8:#046077;
    --cor9:#003a46;

    /* fontes */
    --fonte-padrao: 'Oswald', sans-serif;
    --fonte-destaque:'Sunflower','Playfair Display', cursive;
    --fonte-destaque2: 'Autography', 'The Nautigal', cursive;

}

/* fontes */
*{
    
     font-family: var(--fonte-padrao);
     
}
body{
    margin: 0;
    background-color: #fffefe;
}
.zap{
    display: none;
    position: fixed;
    right: 0;
    bottom: 0;
    /* left: 0; */
    z-index: 1030;
}


h1.fonte-titulo{
    font-family: var(--fonte-destaque);
}
.fonte-sub{
    font-family:var(--fonte-destaque2) ;
}
h2,h3 {
    font-family: var(--fonte-padrao);
    color: var(--cor1);
    font-weight: bold;
    
}
p.destaque{
    font-family: var(--fonte-padrao);
}
.cor-especial{
    color:var(--cor2);
}

.final{
    background-image: linear-gradient(to bottom, hsla(15, 59%, 79%, 0.644),#01aad1);
}


.texto-cor-especial {
    color: var(--cor2) !important;
}


    



a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
/*  */


  h3.depoimentos {
    padding: 1em;
    margin-top: 1em;
    font-family: var(--fonte-padrao);
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: var(--cor1);
    border-radius: .2em;
    display: inline-block;
    transform: translateX(calc((100vw - 100%) / 2))
  }