@font-face {
    font-family: 'Sunflower';
    src: url(../fonts/Sunflower.otf) format('opentype');
    font-weight: normal;
}
@font-face {
    font-family: 'Autography';
    src: url(../fonts/Autography.otf) format('opentype');
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=The+Nautigal&display=swap');


:root{
    /* cores  SENSAÇÃO CROMÁTICA   */
    --cor0:#01aad1;
    --cor1:#0673a1;
    --cor2:#024d79;
    --cor3:#626262;

    /* cores Cores secundárias */
    --cor4:#e8b9a9 ;
    --cor5:#eb9e82;
    --cor6:#d48b7a;
    --cor7:#1b869a;
    --cor8:#046077;
    --cor9:#003a46;

    /* fontes */
    --fonte-padrao: 'Oswald', sans-serif;
    --fonte-destaque:'Sunflower','Playfair Display', cursive;
    --fonte-destaque2: 'Autography', 'The Nautigal', cursive;

}

/* fontes */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--fonte-padrao);
     
}
body{
    margin: 0;
    background-color: #fffefe;
}
/* main{
    background-image: linear-gradient(to bottom,#fffefe, #e8b9a9 );
} */
.zap{
    display: none;
    position: fixed;
    right: 0;
    bottom: 0;
    /* left: 0; */
    z-index: 1030;
}


h1.fonte-titulo{
    font-family: var(--fonte-destaque);
}
h2.fonte-dois{
    font-family:var(--fonte-destaque2) ;
    text-align: right;
    color: #000;
}
h2,h3 {
    font-family: var(--fonte-padrao);
    color: var(--cor9);
    font-weight: bold;
    
}
p.destaque{
    font-family: var(--fonte-padrao);
}
.cor-especial{
    color:var(--cor2);
}

.final{
    background-image: linear-gradient(to bottom, hsla(15, 59%, 79%, 0.644),#01aad1);
}

