.cor-footer{
    background-color:var(--cor2);
}
.horario{
    color: #FFF;
    text-align: center;
}
.hora{
    font-size: 1.4em;
    font-weight: 600;
    text-align:center;
    color: #FFF;
}
.foto-mapa{
    display: flex;
    justify-content: space-around;
}
footer{
    /* position: fixed; */
    
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0px;
    /* margin-top: 50px; */
}