.horario{
    color: var(--cor0);
    text-align: center;
}
.hora{
    font-size: 1.4em;
    font-weight: 600;
    text-align:center;
    color: var(--cor2);
}
.local-link{
    font-size: 1.4em;
    margin-left: 100px;
}