
.local-link{
    font-size: 1.4em;
    margin-left: 100px;
}
/* mapa  */
.maps{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.mapa{
    max-width: 550px;
    max-height: 365px;
}


img.img-faxada{
    max-width: 500px;
    max-height: 450px;
    border-radius: 10px;
}