
@media only screen and  (max-width:900px) { 
    img.logo{
        width: 150px;
    }
    .zap{
        display: initial;
    }
    /* .nome{
        display: none;
    } */
    .imagem-principal{
        height: 300px;
        object-fit: cover;
        object-position: 0 10%;
}
    
    .nome{
        width: 350px;
        top: 50%;
        left: 50%;
    }
    .agendar{
       margin-right: auto;
       margin-left: auto;
       align-items: center;
       width: 250px;
       margin-top: 15px;

       display: none;
    }
    .img-consutorio{
        height: 200px;  
    }
    .clinica{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    .carrosel{
        margin-left: 0px;
        margin: 10px;
        height: 100%;
    }
    .sobre-cotidente{
        margin: 0;
        padding: 0px;
        object-fit: cover;
    }
    .depoimento{
        margin-top: 0em;
    }
    .imagem-depoimento{
        padding-top: 0em;
        width: 300px;
        height: 150px;
        
    }
    .sem-foto{
        display: none;

    }
    .img-faxada{
        width: 320px;
        margin-top: 10px;
        margin-bottom: 1em;
    }
    .mapa{
        width: 320px;
        height: 280px;
    }
    .local-link{
        margin-top: 10px;
        padding: 5px;
    }
}
@media only screen and  (max-width:500px) { 
    .agendar{
        display: none;
    }
    .diferencial{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .quem-somos{
        flex-wrap: wrap;
    }
    .logo-banner{
        width: 48px;
    }
    .img-equipe{
    width: 320px;
    }
    .local-link{
        margin-left: 0;
    }
}