.quem-somos{
    

    display: flex;
    justify-content: space-around;
    justify-items: center;
}
.img{
    
}
.img-equipe{
    max-width: 500px;
    border-radius: 20px;
}
.bloco-quem-somos{
    max-width: 600px;
}
.somos{
    color: var(--cor3);
}
.diferencial{
    width: 100%;
    background-image: linear-gradient(to top, hsla(15, 59%, 79%, 0.644),#FFFF);
    display: flex;
    justify-content: space-around;
}
.card-diferencial{
    width: 300px;
    text-align: center;
    border-radius: 20px;
    margin: 10px 0px;
    
    background-color: var(--corCard);
}
.icon-diferente{
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    padding: 10px;
    margin: 10px;
}
.poli{
    
}

.time{
    
}