* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  :root{
    /* cores  SENSAÇÃO CROMÁTICA   */
    --cor0:#01aad1;
    --cor1:#0673a1;
    --cor2:#024d79;
    --cor3:#626262;

    /* cores Cores secundárias */
    --cor4:#e8b9a9 ;
    --cor5:#eb9e82;
    --cor6:#d48b7a;
    --cor7:#1b869a;
    --cor8:#046077;
    --cor9:#003a46;

    /* fontes */
    --fonte-padrao: 'Oswald', sans-serif;
    --fonte-destaque:'Sunflower', cursive;
    --fonte-destaque2: 'Autography',cursive;

}
.tratametos{
  max-width: 600px;
  height: 100%;
  
  margin: auto;
  margin-top: 2em;
 
  
}
h2{
  color: var(--cor0);
  text-align: center;
}
article{
  background-color: hsla(191, 99%, 41%, 0.61);
  border-radius: 10px;
  display: flex;
  margin: 10px;
  padding-top: 10px;
  justify-content: space-around;
  flex-wrap: wrap;
}
p{
  text-align: center;
  font-family: var(--fonte-padrao);
  font-weight: 600;
}
aside>a>img{
  padding: 10px;
  border-radius: 50%;
  background-color: hsl(15, 59%, 79%);
}
aside>a>img:hover{
  background-color: var(--cor2);
}



  /* html {
    font-family: var(--fonte-destaque);
  }
h2.trata{
    color: var(--cor0);
    font-size: 3em;
}
  .visuallyhidden {
    position: absolute;
    z-index: -1;
    right: 0;
    opacity: 0;
    
  }
  
 
  
  .container {
    overflow: hidden;
    padding: 20px;
    margin-top: 2em;
    border-radius: 10px;
  }
  
  .card-carousel {
    --card-width: 80%;
    --card-max-width: 280px;
    --card-height: 350px;
    --carousel-min-width: 600px;
    z-index: 1;
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: var(--card-height);
    min-width: var(--carousel-min-width);
    transition: filter .3s ease;
  }
  
  @media screen and (max-width: 640px) {
    .card-carousel {
      margin-left: calc((100vw - var(--carousel-min-width) - 40px) / 2)
    }
  }
  
  .card-carousel.smooth-return {
    transition: all .2s ease;
  }
  
  .card-carousel .card {
    background: #ABE3FF;
    width: var(--card-width);
    max-width: var(--card-max-width);
    text-align: center;
    padding: 1em;
    min-width: 250px;
    height: var(--card-height);
    position: absolute;
    margin: 0 auto;
    color: rgba(0, 0, 0, 0.5);
    transition: inherit;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    border-radius: 1em;
    filter: brightness(.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .card.highlight {
    filter: brightness(1)
  }
  
  
  
  .image-container {
    width: 12em;
    height: 12em;
    position: relative;
    background-size: cover;
    margin-bottom: 1em;
    border-radius: 10%;
    -webkit-box-shadow: inset 0px 0px 17px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0px 0px 17px 0px rgba(0,0,0,0.3);
    box-shadow: inset 0px 0px 17px 0px rgba(0,0,0,0.3);
    
  } */
  

  
