h2{
    text-align: center;
    font-size: 2em  ;
}
.titulo-card{
  font-size: 3em;
}
  .titulo-video{
    color: var(--cor2);
    font-size: 2em;
  }
  .video-dica-cotidente{
    
    color: rgb(253, 253, 253);
  }


  section.videos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  article.video-dica{
     margin: 2em 0;
      width: 500px;
      background-color: var(--cor4);
      
      border-radius: 10px;
    }
  div.video{
    margin-bottom: 30px;
    margin: 0px, -40px;
    padding: 20px;
    padding-bottom: 57%;
  
    position: relative;
  }
  div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
  }